*{
    padding: 0;
    margin: 0;

}

li{
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin-left: 50px;

}

.heading{
    margin-top: 25px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-transform:uppercase ;
    text-decoration:underline;
    cursor: pointer;
}

.general{
    font-style: italic;
    margin: 10px;
}

.place{
    text-decoration:underline;
    font-family: cursive;
    font-size: medium;
    text-transform:capitalize;
    padding: 15px;
}

a{
    padding: 20px;
}

